body{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.customScroll {
  position: relative;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}
.customScroll::-webkit-scrollbar, .customScroll::-webkit-scrollbar-thumb {height: 7px;}
.customScroll::-webkit-scrollbar:vertical {width: 7px;}
.lightScroll{scrollbar-color: var(--silver);}
.lightScroll::-webkit-scrollbar-thumb {background-color: var(--silver);}
.lightScroll::-webkit-scrollbar-thumb:hover {background-color: var(--silver);}
.darkScroll{scrollbar-color: var(--gray);}
.darkScroll::-webkit-scrollbar-thumb {background-color: var(--gray);}
.darkScroll::-webkit-scrollbar-thumb:hover {background-color: var(--gray);}