:root{
  --heightLogoContainer: 60px;
  --widhtSideBarExpanded: 250px;
  --widhtSideBarContracted: 50px;
  --heightHeaderContainer: 50px;
}
.sideBar{
  width: var(--widhtSideBarContracted);
  height: 100%;
  transition: .5s all ease;
  background-color: var(--blue);
  overflow: hidden;
}
.sideBarExpanded{width: var(--widhtSideBarExpanded) !important;}
.sideBarExpanded ~ .dashboardContainer{width: calc(100% - var(--widhtSideBarContracted)) !important;}
.logoContainer{
  width: 100%;
  height: var(--heightLogoContainer);
}
.navContainer{
  width: 100%;
  height: calc(100% - var(--heightLogoContainer));
}
.dashboardContainer{
  width: calc(100% - var(--widhtSideBarContracted));
  height: 100%;
  overflow: hidden;
}
.headerContainer{
  width: 100%;
  height: var(--heightHeaderContainer);
}
.contentDynamic{
  width: 100%;
  height: calc(100% - var(--heightHeaderContainer));
}