:root{
  --heightLogoContainer: 60px;
  --widhtSideBarExpanded: 250px;
  --widhtSideBarContracted: 50px;
  --heightHeaderContainer: 50px;
}
.sideBar{
  width: var(--widhtSideBarContracted);
  height: 100%;
  transition: .5s all ease;
  background-color: var(--blue);
  overflow: hidden;
  flex: none;
}
.sideBarExpanded{width: var(--widhtSideBarExpanded);}
.sideBarExpanded ~ .dashboardContainer{width: calc(100% - var(--widhtSideBarContracted));}
.logoContainer{
  width: 100%;
  height: var(--heightLogoContainer);
}
.navContainer{
  width: 100%;
  height: calc(100% - var(--heightLogoContainer));
  overflow-x: hidden;
  padding: 0px 3px;
}
.dashboardContainer{
  width: calc(100% - var(--widhtSideBarContracted));
  height: 100%;
  overflow: hidden;
}
.headerContainer{
  width: 100%;
  height: var(--heightHeaderContainer);
  background: linear-gradient(90deg, var(--blueDark) -30%, var(--blue) 16%);
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / .5);
  display: flex;
  justify-content: space-between;
}
.contentDynamic{
  width: 100%;
  height: calc(100% - var(--heightHeaderContainer));
}
.themeDark{background-color: var(--blueDark);}
.themeDark h1, .themeDark h2,
.themeDark h3, .themeDark h4,
.themeDark h5, .themeDark h6,
.themeDark p, .themeDark span{
  color: rgb(255 255 255 / .8);
  font-weight: 100;
}
.themeLight h1, .light h2,
.themeLight h3, .light h4,
.themeLight h5, .light h6,
.themeLight p, .light span{
  color: rgb(0 0 0 / .8);
  font-weight: 100;
}
@media (max-width: 576px) {
  .sideBar{
    width: 0% !important;
    position: fixed;
  }
  .sideBarExpanded{width: 100% !important;}
  .dashboardContainer{width: 100% !important;}
}